<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304450185062-5q9t2kvf1sverme8d1l10ml56ufrnk55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304450185062-5q9t2kvf1sverme8d1l10ml56ufrnk55</string>
	<key>API_KEY</key>
	<string>AIzaSyAl1UCU6Ygwn3zkNnSq77w7DWrNgy8eFjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>304450185062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chickpick.driver.eww</string>
	<key>PROJECT_ID</key>
	<string>chick-pick</string>
	<key>STORAGE_BUCKET</key>
	<string>chick-pick.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304450185062:ios:42fda2108a6304caea0aa7</string>
	<key>DATABASE_URL</key>
	<string>https://chick-pick.firebaseio.com</string>
</dict>
</plist>